* {
  box-sizing: border-box;
}
body {
  overflow: hidden;
  font-family: karma;
  margin: 0px auto;
}
.canvaswrapper {
  height:auto;
  width: auto;
  margin: 5px;
}
canvas {
  position: relative;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  background-size: 18px 18px;
  background-image: linear-gradient(
      to right,
      rgba(0, 255, 255, 0.05) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(0, 255, 255, 0.05) 1px, transparent 1px);
}
#top {
  width: auto;
  height: auto;
  padding: 8px;
  background-color: #474e5d;
}
header {
  color: #ffc;
  font-size: x-large;
  font-family: "ABeeZee";
}
header a {
  text-decoration: none;;
  color: inherit;
}
.tools {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
#New,
#Pencil,
#Brush,
#Save,
#Erase {
  position: relative;
  border-radius: 3px;
  margin: 5px 3px 3px 5px;
  border: 1px solid gray;
  cursor: pointer;
  outline: none;
}
#New,
#Save {
  background-color: #0a67a3;
}
select {
  width: auto;
  outline: none;
  background-color: beige;
}
input {
  cursor: pointer;
}
#Paint input {
  width: 38px;
  height: 19px;
  margin-left: 3px;
  outline: none;
}

.Sizes {
  position: absolute;
  display: none;
  top: 25px;
  border: 1px gray solid;
  border-radius: 6px;
  z-index: 1;
}
.Sizes::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 5%;
  border-style: solid;
  border-width: 5px;
  border-color: transparent transparent gray transparent;
}

/*tablet breakpoint*/
@media only screen and (min-width: 768px) {
  .Sizes {
    position: absolute;
    left: 15%;
  }
}

/*desktop breakpoint*/
@media only screen and (min-width: 992px) {
  .Sizes {
    left: 14%;
  }
}

@media (max-width: 320px) {
  header {
    font-size: large;
  }
  #tools {
    width: 320px;
    overflow: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
